{% extends 'base.html.twig' %}

{% block body %}
    <br>
<div class="container">
    <div class="title_creation_personnage">
        <h2>Création d'un groupe Mythique+ en cours</h2>
    </div>
    <br>
    {{ form(form) }}
</div>
{% endblock %}
