{% extends '@Removal/layout.html.twig' %}

{% block body %}
    <h2 class="titre_login">Création de compte</h2><br />
{% endblock %}

{% block fos_user_content %}
  <div class="container">
    <div class="all_register">
      <div class="register">
        <div class="removal-backform">
          {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
      </div>
    </div>
  </div>
{% endblock fos_user_content %}
