{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
    <br />
      <div class="btn-outer" style="max-width:200px;margin:auto">
        <input class="btn btn-removal" type="submit" value="{{ 'registration.submit'|trans }}" />
      </div>
    </div>
{{ form_end(form) }}
