{% extends '@Removal/layout.html.twig' %}

{% block body %}
    <br>
    <br>
    <h2 class="titre_login">Création de compte</h2>
{% endblock %}

{% block fos_user_content %}
    <br><br><br><br>
    <div class="all_register">
        <div class="register">
    {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}