{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-home.css') }}">
{% endblock %}

{% block body %}
    <br>
    <div class="all_admin_read">
    <div class="admin_read_update">
        {{ form(form) }}
    </div>
    </div>
{% endblock %}