.container
{
  padding-top: 50px;
  color: white;
}
.newContent, .commentContent
{
  background-color: #170e09;
  padding: 10px;
  margin-bottom: 25px;
}
h1, h2
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr
{
  background-color: white;
}
.writeComment
{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.btn-outer
{
  width: 50%;
  margin: auto;
}
#Addcomments
{
  resize: none;
  height: 150px;
}
.comments
{
  width: 75%;
  margin: auto;
}
.commentContent
{
  display: flex;
}
.avatar
{
  width: 150px;
  height: 150px;
  background-color: white;
  margin-right: 20px;
}
.commentDescription
{
  width: 80%;
}


/** ==================== MEDIA QUERIES RESPONSIVE ==================== **/

/** ========== BIG DEKSTOP SCREEN ========== **/
@media all and (max-width: 1900px)
{

}

/** ========== LITTLE DESKTOP SCREEN ========== **/
@media all and (max-width: 1200px)
{

}

/** ========== PADS ========== **/
@media all and (max-width: 1024px)
{

}

/** ========== MOBILE ========== **/
@media all and (max-width: 768px)
{

}
