.container-fluid
{
  width: 1900px;
  display: flex;
  justify-content: space-between;
}
#removalDown
{
  width: 20%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.table
{
  border: 1px solid #212529;
}
#removal-CarouselNews
{
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.removalNews
{
  margin-top: 50px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #170e09;
}
.hidden
{
  display: none;
}
.removalNewsImg
{
  margin: 10px;
  width: 320px;
  height: 180px;
}
.removalNewsContent
{
  width: 100%;
  padding: 5px;
  color: white;
}
.removalNewsContent h3
{
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}
.removalNewsContent h3 i
{
  font-size: 0.8em;
}
.removalNewsContent hr
{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.removalNewsContent h3 a
{
  text-decoration: none;
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#moreNews
{
  width: 300px;
}
.rotate
{
  transform: rotate(360deg);
  transition: .5s;
}
.removal-widgets
{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#removal-recruitement
{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
