.form_participation_table
{
width: 90%;
margin: auto;
}
.all_form_participation{
    width: 100%;
    max-width: 1800px;
}
.removal_participation_create
{
  width: 100%;
  margin: auto;
}
.participation_create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_participation
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.removal-participation
{
  width: 40%;
}
.table th{
    font-size: 12px;
}

.table td{
    font-size: 12px;
}

.status_create{
    width: 100%;
    max-width: 1900px;
}

.all_form_status form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all_form_status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.assign_participation
{
  max-width: 600px;
  margin: auto;
}
/** ==================== MEDIA QUERIES RESPONSIVE ==================== **/

/** ========== BIG DEKSTOP SCREEN ========== **/
@media all and (max-width: 1900px)
{

}

/** ========== LITTLE DESKTOP SCREEN ========== **/
@media all and (max-width: 1200px)
{

}

/** ========== PADS ========== **/
@media all and (max-width: 1024px)
{
  .removal-participation
  {
    width: 45%;
  }
}

/** ========== MOBILE ========== **/
@media all and (max-width: 768px)
{
  .removal-participation
  {
    width: 100%;
  }
}

/** ========== MOBILE PORTRAIT ========== **/
@media all and (max-width: 375px)
{

}
