@font-face {
    font-family: morpheus;
    src: url(./font/morpheus.ttf);
}

.allcontent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.personnage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #170e09;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}
.personnage p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.imgperso{
    width: 50px;
    height: 50px;
}

.pseudo{
    font-size: 30px;
    font-family: morpheus;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.classe{
    font-size: 20px;
    color: white;
}

.message{
    height: 80px;
    padding: 0% 5% 0% 5%;
    width: 90%;
    font-size: 16px;
    color: white;
    text-align: justify;
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

.modif{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modif a{
    margin: 1%;
}
.table_participation{
    width: 90%;
}

.all_participation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre_gestion{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}
.date div
{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.participation{
    display: flex;
}

.content_participation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    margin: 2%;
}

.participation_status{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.participation_status span{
    font-size: 30px;
}

.table_participation_compo{
    width: 100%;
    background-color: #170e09;
}

.table_participation_compo span{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.debut{
    background-color: lightgreen;
}

.fin{
    background-color: lightcoral;
}

.archive{
    text-decoration: none;
    color: #fd9a31;
    font-size: 25px;
}

.archive:hover{
    text-decoration: none;
    color: #0088CC;
}

.h2{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titre_gestion_personnage{
    display: flex;
}

.titre_gestion_personnage a{
    font-size: 30px;
}

.titre_gestion_participation_normal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.div_titre_gestion_participation_normal{
    width: 100%;
    background: rgba(35,27,22,0.9);
}

.titre_gestion_participation_courante{
    width: 100%;
    background: rgba(35,27,22,0.9);
}

.titre_h2_roster{
    display: flex;
    justify-content: center;
}

.titre_h2_roster h2{
    font-size: 40px;
}

.flex-participation
{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.flex-participation-content
{
  width: 40%;
  text-align: center;
}
.all_titre_gestion{
    display: flex;
    justify-content: center;
}

.titre_roster{
    margin-left: 5%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.personnage_joueur{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* ESSAIS NEW CSS VUE CANDIDATURE */

.all_content_candidature_read{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_candidature_info{
    flex: 5;
    background-color: #170e09;
}
.in_content_candidature_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info p{
    margin-left: 1%;
}

.info_candidature{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info_twig{
    color: white;
}

.candidature_info{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.in_content_candidature_comment{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-bottom: 50px;
}
.in_content_candidature_comment h4
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content_candidature_status{
    flex: 1;
    background-color: #170e09;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_candidature_status p{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.content_candidature_status a span{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.candidature_read{
    width: 100%;
    max-width: 1900px;
}

.all_candidature_read{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gestion_read{
    width: 100%;
    max-width: 1900px;
}

.all_gestion_read{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roster_read{
    width: 100%;
    max-width: 1900px;
}
.all_roster_read{
    display: flex;
    align-items: center;
    justify-content: center;
}
#form_filter{
    width: 50%;
    margin-bottom: 50px;
}
.intern_form_filter label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.all_intern_form_filter{
    display: flex;
    justify-content: space-around;
}

#button_form_filter{
    max-width: 200px;
    margin: auto;
}
#group-gestion-mythique
{
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-around;
  margin-top: 30px;
}
#all_create_mythique
{
  display: flex;
  justify-content: space-between;
}
.create_mythique
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.create_mythique hr
{
  width: 100%;
  background-color: #fc7904;
  margin-top: 0;
  margin-bottom: 20px;
}
#btn-create-mythique
{
  max-width: 300px;
  margin: auto;
}
/** ==================== MEDIA QUERIES RESPONSIVE ==================== **/

/** ========== BIG DEKSTOP SCREEN ========== **/
@media all and (max-width: 1900px)
{

}

/** ========== LITTLE DESKTOP SCREEN ========== **/
@media all and (max-width: 1200px)
{
  #form_filter{
      width: 75%;
  }
}

/** ========== PADS ========== **/
@media all and (max-width: 1024px)
{
  #group-gestion-mythique
  {
    width: 75%;
  }
  .all_content_candidature_read{
      flex-direction: column;
  }
  .content_candidature_status{
    height: 175px;
  }
  .in_content_candidature_comment
  {
    margin-bottom: 0;
  }
  .flex-participation
  {
    flex-direction: column;
  }
  .flex-participation-content
  {
    width: 100%;
  }
}

/** ========== MOBILE ========== **/
@media all and (max-width: 768px)
{
  #form_filter{
      width: 100%;
  }
  #group-gestion-mythique
  {
    width: 60%;
  }
  .all_intern_form_filter{
      flex-direction: column;
  }
  .titre_gestion_participation_normal, .div_titre_gestion_participation_normal
  {
    width: 100%;
    flex-direction: column;
  }
  .titre_gestion
  {
    font-size: 25px;
  }
  .in_content_candidature_info
  {
    flex-direction: column;
  }
  #all_create_mythique
  {
    flex-direction: column;
  }
  .create_mythique
  {
    width: 100%;
    margin-bottom: 30px;
  }
  .flex-participation
  {
    width: 100%;
  }
}

/** ========== MOBILE PORTRAIT ========== **/
@media all and (max-width: 375px)
{
  #group-gestion-mythique
  {
    flex-direction: column;
    height: 100px;
  }
  .participation{
      flex-direction: column;
  }
  .participation_status{
    margin-bottom: 50px;
  }
}
