body, html
{
  margin: 0;
  padding: 0;
}
html
{
  background-color: #231b16;
}

th, td
{
    width: 200px;
}
.menu
{
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: #231b16;
    align-items: center;
    justify-content: center;
}
#removal-navBar
{
  height: 100%;
}
#hamburger
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown-menu
{
  background-color: #231b16;
}
.dropdown-item:hover
{
  background-color: #231b16;
}
.menu a
{
    text-decoration: none;
    font-size: 25px;
    color: #fd9a31;
}
.menu a:hover
{
    text-decoration: none;
    font-size: 25px;
    color: #0088CC;
}
.all_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231b16;
}
.removalBanner
{
  height: 294px;
  background: url('../images/banremoval.png') no-repeat center;
  background-color: #231b16;
}

.removal-body
{
  background-color: #231b16;
}
.removalfooter
{
    height: 283px;
    max-width: 1900px;
    margin: auto;
    background: url('../images/footer.png') no-repeat bottom;
    background-size: contain;
}
.btn-removal
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: 100%;
}
.color-removal
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-outer
{
  border: 1px solid #fc7904;
  background-color: rgba(252,121,4,0.1);
}
.btn-outer:hover
{
  background-color: rgba(252,121,4,0.2);
}
.removal-backform
{
  background-color: #170e09;
  padding: 50px;
  border-radius: 10px;
}
.tablelisteperso{
    color: white;
}
.all_personnages{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_personnages{
    margin-left: 20%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table_all_participation{
    width: 100%;
}
.table_all_participation span {
background: -webkit-linear-gradient(#ffe400, #fc7904);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.content_participation_participation{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.all_participation_read{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_participation{
    margin-left: 5%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table_candidature{
    width: 90%;
}
.all_table_candidature{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_candidature{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.all_titre_admin{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.admin_titre_and_btn{
    display: flex;
}
.admin_titre_and_btn h2{
    margin-left: 5%;
}
.admin_titre_and_btn a{
    margin-left: 3%;
    font-size: 30px;
}

.all_form_candidature{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_candidature{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_candidature form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.form_candidature_first{
    width: 45%;
}
.titre_candidature{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.form-group legend{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.title_creation_personnage{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.compo_form{
    color: white;
}
.admin_read{
    width: 100%;
    max-width: 1900px;
}
.admin_read_recruit{
    width: 100%;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin_read_update{
    width: 50%;
    max-width: 1900px;
}
.all_admin_read{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personnage_read{
    width: 100%;
    max-width: 1900px;
}
.all_personnage_read{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personnage_update{
    width: 20%;
    max-width: 1900px;
}
.all_personnage_update{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* css loader news et comments */
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #fc7904;
  width: 30px;
  height: 30px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden
{
  display: none;
}
/* css formulaire login */
.all_login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
  width: 50%;
}
.login label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titre_login{
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}
.all_register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register {
    width: 50%;
}
.all_confirmation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirmation {
    max-width: 700px;
    height: 200px;
}
.confirmation p{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* FORM CREATE RAID */
.all_form_raid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_raid{
    width: 25%;
    max-width: 500px;
    margin: 1%;
    height: 300px;
}
.form_raid label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.raid_submit{
    margin-top: 4%;
}
/* FORM CREATE BOSS */
.all_form_boss{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_boss{
    width: 100%;
    max-width: 500px;
    margin: 1%;
}
.form_boss label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.boss_submit{
    margin-top: 4%;
}
/* CSS message d'erreur */
.msg_erreur{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.div_msg_erreur{
    width: 100%;
    max-width: 1900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mw-ma
{
  max-width: 200px;
  margin: auto
}
/** ==================== MEDIA QUERIES RESPONSIVE ==================== **/

/** ========== BIG DEKSTOP SCREEN ========== **/
@media all and (max-width: 1900px)
{

}

/** ========== LITTLE DESKTOP SCREEN ========== **/
@media all and (max-width: 1200px)
{
  .removalfooter
  {
    height: 180px;
  }
  .menu a, .menu a:hover
  {
    font-size: 1.2em;
  }
}

/** ========== PADS ========== **/
@media all and (max-width: 1024px)
{
  .menu a, .menu a:hover
  {
    font-size: 1.1em;
  }
  .removalBanner
  {
    height: 150px;
    background-size: cover;
  }
  .removalfooter
  {
    height: 152px;
  }
  .login{
    width: 75%;
  }
  .register {
      width: 75%;
  }
  .form_candidature form{
      flex-direction: column;
      align-items: center;
  }
  .form_candidature_first{
      width: 100%;
  }
  .tablelisteperso
  {
    width: 80%;
  }
}

/** ========== MOBILE ========== **/
@media all and (max-width: 768px)
{
  .removalBanner
  {
    height: 110px;
  }
  .removalfooter
  {
    height: 114px;
  }
  .menu
  {
    justify-content: flex-start;
  }
  .menu a, .menu a:hover
  {
    font-size: 1em;
  }
  .removal-backform
  {
    padding: 20px;
  }
  .login{
    width: 100%;
  }
  .register {
      width: 100%;
  }
  .tablelisteperso
  {
    width: 100%;
  }
}

/** ========== MOBILE PORTRAIT ========== **/
@media all and (max-width: 375px)
{
  .removalfooter
  {
    height: 55px;
  }
}


/* CSS vue raid read */
.all_raid{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.read_raid{
    display: flex;
    width: 100%;
    max-width: 1800px;
}
.all_boss{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.all_boss_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1800px;
}
.all_boss_update{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.boss_update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 300px;
    max-width: 500px;
}
.all_raid_update{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.raid_update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 300px;
    max-width: 500px;
}

/* CSS groupe mythique read */

.groupe_mythique_read p{
    color: white;
}
