body, html
{
  margin: 0;
  padding: 0;
}
html
{
  background-color: #231b16;
}

th, td
{
    width: 200px;
}
.menu
{
    display: flex;
    width: 100%;
    max-width: 1900px;
    height: 60px;
    background-color: #231b16;
    align-items: center;
    justify-content: center;
}
.menu a
{
    text-decoration: none;
    font-size: 25px;
    color: #fd9a31;
    margin-left: 2%;
}
.menu a:hover
{
    text-decoration: none;
    font-size: 25px;
    color: #0088CC;
    margin-left: 2%;
}
.all_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #231b16;
}
.removalBanner
{
  height: 294px;
  background: url('../images/banremoval.png') no-repeat center;
  background-color: #231b16;
}

.removal-body
{
  background-color: #231b16;
}
.removalfooter
{
    height: 283px;
    background: url('../images/footer.png') no-repeat center;
}
.btn-removal
{
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: 100%;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-outer
{
  border: 1px solid #fc7904;
  background-color: rgba(252,121,4,0.1);
}
.btn-outer:hover
{
  background-color: rgba(252,121,4,0.2);
}
.tablelisteperso{
    width: 60%;
    color: white;
}
.all_personnages{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_personnages{
    margin-left: 20%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table_all_participation{
    width: 100%;
}
.all_participation_read{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_participation{
    margin-left: 5%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table_candidature{
    width: 90%;
}
.all_table_candidature{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titre_all_candidature{
    margin-left: 5%;
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.all_titre_admin{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.admin_titre_and_btn{
    display: flex;
}
.admin_titre_and_btn h2{
    margin-left: 5%;
}
.admin_titre_and_btn a{
    margin-left: 3%;
    font-size: 30px;
}

.all_form_candidature{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_candidature{
    width: 100%;
    max-width: 1700px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}
.form_candidature form{
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
}

.form_candidature_first{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}
.titre_candidature{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group label{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.form-group legend{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.title_creation_personnage{
    background: -webkit-linear-gradient(#ffe400, #fc7904);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.compo_form{
    color: white;
}
.admin_read{
    width: 100%;
    max-width: 1900px;
}
.admin_read_recruit{
    width: 100%;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.admin_read_update{
    width: 50%;
    max-width: 1900px;
}
.all_admin_read{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personnage_read{
    width: 100%;
    max-width: 1900px;
}
.all_personnage_read{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
