.container-fluid
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#removalDown
{
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.table
{
  border: 1px solid #212529;
}

#removal-CarouselNews
{
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 37px;
}
.removalNews
{
  margin-top: 50px;
  border: 1px solid black;
  display: flex;
}
.hidden
{
  display: none;
}
.removalNewsImg
{
  margin: 10px;
}
.removalNewsContent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.removal-widgets
{
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#removal-recruitement
{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
