.container-fluid
{
  padding: 0;
  width: 1900px;
  background-color: #231b16;
}
#removalDescription
{
  width: 100%;
  background: url('../images/background.png') no-repeat center;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 25px;
}
.removal-content
{
  display: flex;
  justify-content: center;
}
#removalDown
{
  width: 20%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.table
{
  border: 1px solid #212529;
  background-color: #170e09;
}
#removal-CarouselNews
{
  width: 50%;
  margin-top: 44px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.removalNews
{
  margin-top: 50px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: #170e09;
}
.removalNews:hover
{
  background-color: rgba(255,255,255,0.1);
}
.hidden
{
  display: none;
}
.removalNewsImg
{
  margin: 10px;
  width: 320px;
  height: 180px;
}
.removalNewsContent
{
  width: 100%;
  padding: 5px;
  color: white;
}
.removalNewsContent h3
{
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 0px;
}
.removalNewsContent h3 i
{
  font-size: 0.8em;
}
.removalNewsContent hr
{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.removalNewsContent h3 a
{
  text-decoration: none;
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#moreNews
{
  width: 300px;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #fc7904;
  width: 30px;
  height: 30px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#removal-recruitement
{
  width: 200px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #fc7904;
  background-color: rgba(252,121,4,0.1);
}
#removal-recruitement:hover
{
  background-color: rgba(252,121,4,0.2);
}
#removal-description
{
  width: 30%;
  margin: auto;
  text-align: justify;
}
.icon_class{
  width: 80%;
}
#table_recrutement td{
  text-align: center;
}
.recrutement{
  font-size: 30px;
  font-weight: bold;
  background: -webkit-linear-gradient(#ffe400, #fc7904);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
