{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tr class="thead-light">
            <th>Plantes</th>
            <th>Minerais</th>
            <th>Cuisines</th>
            <th>Étoffes</th>
            <th>Cuirs</th>
        </tr>
        <tr>
            <td>Ancoracée</td>
            <td>Minerai de monélite</td>
            <td>Loche à caudale rouge</td>
            <td>Lin battu par les marées</td>
            <td>Cuir rêche</td>
        </tr>
        <tr>
            <td>Bise-d'hiver</td>
            <td>Minerai de foudrargent</td>
            <td>Croc-pointu frénétique</td>
            <td>Satin des abysses</td>
            <td>Scintécaille</td>
        </tr>
        <tr>
            <td>Brin-de-mer</td>
            <td>Minerai de platine</td>
            <td>Filets filandreux</td>
            <td>Satin des abysses brodé</td>
            <td>Os taché de sang</td>
        </tr>
        <tr>
            <td>Mâche d'Akunda</td>
            <td></td>
            <td>Cuissot charnu</td>
            <td></td>
            <td>Peau des tempêtes</td>
        </tr>
        <tr>
            <td>Mousse étoilée</td>
            <td></td>
            <td>Saumon de minuit</td>
            <td></td>
            <td>Brumécaille</td>
        </tr>
        <tr>
            <td>Pollen de sirène</td>
            <td></td>
            <td>Farine sauvage</td>
            <td></td>
            <td>Os calcifié</td>
        </tr>
        <tr>
            <td>Rivebulbe</td>
            <td></td>
            <td>Foosaka</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Huile de poisson aromatique</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Café mousseux du major</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Sucre glace</td>
            <td></td>
            <td></td>
        </tr>
    </table><br>


{{ form(form) }}
{% endblock %}